/* styles */ 

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* left right margins */
.margin-lr{
    margin-left: 160px;
    margin-right: 160px;
}
/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
    
}

.nav-tilte{
    font-weight: bold;
    font-size: 32px;
}
nav ul li{
    list-style: none;
}
/* no underline */
nav li a{
    text-decoration: none;
}
/* buttons */
.btn-primary{
    font-weight:semi-bold;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    }
    .btn-primary:hover{
        background-color: #ff0000;
        }
.b-btn{
    font-weight:semi-bold;
    font-size: 18px;
    color: white;
    background-color: #5490F5;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #5490F5;
    margin-top: 24px;
    
    }
.b-btn:hover{
    background-color: #ff0000;
    }
.g-btn{
        font-weight:semi-bold;
        font-size: 18px;
        color: white;
        background-color: #09A15C;
        padding: 15px 30px;
        border-radius: 8px;
        border-color:#09A15C;
        margin-top: auto;
        }
.g-btn:hover{
    background-color: #ff0000;
    }
.y-btn{
        font-weight:semi-bold;
        font-size: 18px;
        color: white;
        background-color: #FFC239;
        padding: 15px 30px;
        border-radius: 8px;
        border-color: #FFC239;
        margin-top: auto;
        }
.y-btn:hover{
    background-color: #ff0000;
    }
.btn-green{
    font-weight:semi-bold;
    font-size: 18px;
    color: #ffffff;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border-color: #006A50;
    margin-top: auto;
   
}
.btn-green:hover{
    background-color: #ff0000;
    }


/* banners */
.banner-intro{
    font-weight: medium;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-title{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    background-color: #C6E4D6;
    padding: 60px 80px;    
}

/*vision*/
.target-container{
    text-align: justify;
    margin-top: 80px;
    
}
.box-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    
}
.digital-box{
    width: 50%;
    border-radius: 16px;
    background-color:#b3d1fb;
    padding: 32px;
    
}
.green-box{
    border-radius: 16px;
    background-color: #C6E4D6;
    padding: 32px;
    width: 50%;
    
}


.modern-box{
    border-radius: 16px;
    background-color: #F7EBCF;
    padding: 32px;
    width: 50%;
}

/*image */
.rounded-image {
    border-radius: 24px; 
    width: auto; 
    height: auto; 
    }

/* news boxes */
.section-title {
    font-size: 40px;
    font-weight: bold;

}

.section-text{
    font-size: 16px;
    opacity: 70%;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 0px;
}
.box1{
    padding: 48px;
    display: flex;
    justify-content:center;
    gap: 32px;
}
.donate-container{
    text-align:center;
    
}
.money-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    
   
}
.money-title{
    font-size: 40px;
    font-weight: bold;
    opacity: 80%;
    
}
.money-box{
    border-radius: 16px;
    background-color: #ffffff;
    padding: 0px 32px;
    margin: 32px 0px;
    border-style: solid;
   border-color: 0.15 #0E0E0E;
    
}

.long{
    
}